<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!--Style Sheet -->
  <link rel="stylesheet" href="/css/new.css" />
  <!--FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
  <title>New Page Pokedex App</title>

  <script>
    // Wait for the DOM to be fully loaded before executing
    document.addEventListener("DOMContentLoaded", function () {
      // Get the current year
      const currentYear = new Date().getFullYear();

      // Update the year in the span with the id 'currentYear'
      document.getElementById("currentYear").textContent = currentYear;
    });
  </script>

</head>

<body>
  <div class="nav-bar">
    <ul>
      <li>
        <a href="/pokemon">
          <img width="35px" src="https://res.cloudinary.com/duprwuo4j/image/upload/v1574831158/Logo/BLOGO_k36v5y.png"
            alt="logo" />
        </a>
      </li>
      <li>
        <a href="/pokemon#pokemonCardHolder">Pokémons</a>
      </li>
      <li>
        <a href="/pokemon/new">New Pokemon</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <h1>Add New Pokemon</h1>

    <form action="/pokemon" method="POST">
      Name: <input type="text" name="name" placeholder="Picachu" /><br />
      Attack: <input type="text" name="attack" placeholder="70" /><br />
      HP: <input type="text" name="hp" placeholder="50" /><br />
      Normal Habilities:
      <input type="text" name="normal" placeholder="Static" /><br />
      Hidden Habilities:
      <input type="text" name="hidden" placeholder="Lightningrod" /><br />
      Classification:
      <input type="text" name="classification" placeholder="Mouse Pokemon" /><br />
      Image URL:
      <input type="text" name="img" placeholder="http://img.pokemondb.net/artwork/pikachu.jpg" /><br />
      <br />
      <input type="submit" name="" value="Create Item" />
    </form>

    <a class="button" href="http://localhost:3000/pokemon#pokemonCardHolder">Go Back</a>
  </div>

  <svg viewBox="0 0 100 25">
    <path fill="#fcd458" d="M0 30 V12 Q30 17 55 12 T100 11 V30z"></path>
  </svg>
  <footer>
    <p>&copy;
      <span id="currentYear">2025</span>
      Bruno DaSilva
      <span>Pokemon App</span>
    </p>
  </footer>
</body>

</html>